---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyC4LirbgvCIiaN5OI0Y8UlDfSOoBOb-7sA&location=24.793045,1120.993091&radius=500
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "INVALID_REQUEST"
        }
  recorded_at: Sun, 21 Oct 2018 04:54:33 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=xxx&location=24.793045,120.993091&radius=500
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "error_message" : "The provided API key is invalid.",
           "html_attributions" : [],
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Sun, 21 Oct 2018 04:54:33 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyC4LirbgvCIiaN5OI0Y8UlDfSOoBOb-7sA&location=24.793045,120.993091&radius=500
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "CqQCFwEAAOkqvWINSIi9KJ-4ILSP2QNI2elKQFIMxG4JYAOyODq5t--0k3pe89pA_lE2NntQskQoThoUld3TgOD6pI5LrVAHLWD3B8p9Lql8nYgBVh-48rZJSk6lAnVov1_f4N59pyauoq5Nfit3_nprS1hK947y62rpVGlCReD_F5rhvTYdJA9UxjbFm3cLVDV-OY51x9WQbYYfC83bLWsDr_ul7F_jK9kskPAMNcwTiAN2ZTywcT9xdoyGgRLvoEu7VyhiOfkho-I5Wo6ty0yRoDRHT00gkHkbeZs-YfMF5pshJikXElImibea1vw3S-WaJqtksph2ul1evThIy4GN2plG5JWvJSjD5RMxNZQaQfncLTCUvbB7HSPAUlb_wHm6EVGc_RIQ7r9Da3r5jKz6lrR2nNtukRoUChsvga4tX92Vpx3nbQ_EC2sY3mc",
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 24.8138287,
                       "lng" : 120.9674798
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 24.8261386,
                          "lng" : 121.0292242
                       },
                       "southwest" : {
                          "lat" : 24.7408195,
                          "lng" : 120.9041431
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png",
                 "id" : "bc6652f9b0c9cac64b95407cadd876e54ea79eb2",
                 "name" : "Hsinchu",
                 "photos" : [
                    {
                       "height" : 3024,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/111237776198584309589/photos\"\u003eRoy Ford\u003c/a\u003e"
                       ],
                       "photo_reference" : "CmRaAAAAh3l4kne0qZjo9s322hoy6bkOK-ZbZElFBedSZPcM4FCh2Jv68VsVZ7GI8UbzWlIr8Ri6-h0B9zWzadp4W4ztLwMAzvpdrFpuQDEeVkvNfAhUzviKymvZczi3jB4JMomUEhDZ-dFE0ToMIxp4GwbI8rEZGhRc30gH49f8RP4EkHBmisLSdaDHxA",
                       "width" : 4032
                    }
                 ],
                 "place_id" : "ChIJEUtLGts1aDQRDDvTtbzcCdQ",
                 "reference" : "ChIJEUtLGts1aDQRDDvTtbzcCdQ",
                 "scope" : "GOOGLE",
                 "types" : [ "colloquial_area", "locality", "political" ],
                 "vicinity" : "Hsinchu"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 24.7947253,
                       "lng" : 120.9932316
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 24.80393149999999,
                          "lng" : 121.0013386
                       },
                       "southwest" : {
                          "lat" : 24.78021[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyC4LirbgvCIiaN5OI0Y8UlDfSOoBOb-7sA&location=24.793045,120.993091&radius=500&types=airport
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sun, 21 Oct 2018 04:54:33 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyC4LirbgvCIiaN5OI0Y8UlDfSOoBOb-7sA&location=24.793045,120.993091&radius=500&types=cafe
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 24.79403659999999,
                       "lng" : 120.9930654
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 24.7953855802915,
                          "lng" : 120.9944143802915
                       },
                       "southwest" : {
                          "lat" : 24.79268761970849,
                          "lng" : 120.9917164197085
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png",
                 "id" : "3145ead1a269108e2e5ae5503b7484cbfd850a5d",
                 "name" : "蘇格貓底二手書咖啡屋",
                 "opening_hours" : {
                    "open_now" : false
                 },
                 "photos" : [
                    {
                       "height" : 720,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/108668419887640964330/photos\"\u003eYu-Ting Yen\u003c/a\u003e"
                       ],
                       "photo_reference" : "CmRaAAAAtUp3CZJeZhzGmxoAMj3jiUU4U1hXKBS5gPZ26PSHAQtQ-de6BwCCWv5574cx9VYB99TEDah9GWnTOhKbtyoo19uc74SUv1rprzjmu9_pNZcduy37IWziyH1HlrWezkBTEhCGdSPrv0j0dCJ8YhyEXI73GhQs6bpnEQZz8fP1BA24ZhjgnVLajg",
                       "width" : 960
                    }
                 ],
                 "place_id" : "ChIJw0pCKnM2aDQRf8TxwjfBuW0",
                 "plus_code" : {
                    "compound_code" : "QXVV+J6 Hsinchu, East District, Hsinchu City, Taiwan",
                    "global_code" : "7QP2QXVV+J6"
                 },
                 "rating" : 4.1,
                 "reference" : "ChIJw0pCKnM2aDQRf8TxwjfBuW0",
                 "scope" : "GOOGLE",
                 "types" : [ "cafe", "point_of_interest", "food", "establishment" ],
                 "vicinity" : "No. 101號, Section 2, Guangfu Road, East District"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 24.7955259,
                       "lng" : 120.9949543
                    },
                    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyC4LirbgvCIiaN5OI0Y8UlDfSOoBOb-7sA&location=24.793045,120.993091&radius=500&types=city_hall
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sun, 21 Oct 2018 04:54:33 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyC4LirbgvCIiaN5OI0Y8UlDfSOoBOb-7sA&location=24.793045,120.993091&radius=500&types=department_store
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sun, 21 Oct 2018 04:54:33 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyC4LirbgvCIiaN5OI0Y8UlDfSOoBOb-7sA&location=24.793045,120.993091&radius=500&types=gas_station
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sun, 21 Oct 2018 04:54:34 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyC4LirbgvCIiaN5OI0Y8UlDfSOoBOb-7sA&location=24.793045,120.993091&radius=500&types=hospital
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sun, 21 Oct 2018 04:54:34 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyC4LirbgvCIiaN5OI0Y8UlDfSOoBOb-7sA&location=24.793045,120.993091&radius=500&types=library
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "resu[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyC4LirbgvCIiaN5OI0Y8UlDfSOoBOb-7sA&location=24.793045,120.993091&radius=500&types=police
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "resul[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyC4LirbgvCIiaN5OI0Y8UlDfSOoBOb-7sA&location=24.793045,120.993091&radius=500&types=local_government_office
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyC4LirbgvCIiaN5OI0Y8UlDfSOoBOb-7sA&location=24.793045,120.993091&radius=500&types=restaurant
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "n[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyC4LirbgvCIiaN5OI0Y8UlDfSOoBOb-7sA&location=24.793045,120.993091&radius=500&types=store
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "result[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyC4LirbgvCIiaN5OI0Y8UlDfSOoBOb-7sA&location=24.793045,120.993091&radius=500&types=school
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "next_[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyC4LirbgvCIiaN5OI0Y8UlDfSOoBOb-7sA&location=24.793045,120.993091&radius=500&types=shopping_mall
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sun, 21 Oct 2018 04:54:35 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyC4LirbgvCIiaN5OI0Y8UlDfSOoBOb-7sA&location=24.793045,120.993091&radius=500&types=subway_station
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sun, 21 Oct 2018 04:54:35 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyC4LirbgvCIiaN5OI0Y8UlDfSOoBOb-7sA&location=24.793045,120.993091&radius=500&types=train_station
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sun, 21 Oct 2018 04:54:35 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyC4LirbgvCIiaN5OI0Y8UlDfSOoBOb-7sA&location=24.793045,120.993091&radius=500&types=transit_station
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sun, 21 Oct 2018 04:54:35 GMT
recorded_with: VCR 4.0.0
